@font-face {
    font-family: 'source';
    src: url(Source_Serif_4/SourceSerif4-VariableFont_opsz\,wght.ttf);
    }

    @font-face {
    font-family: 'outfit';
    src: url(Outfit/Outfit-VariableFont_wght.ttf);
    }
    nav  {
        display: flex;
        justify-content: space-between;
        background-color: #C7C7C733;
        padding: 28px 36px;
        border: 1.5px;
        border-radius: 20px;
        box-shadow: 0 4px 24px 0px (190, 190, 190);
        align-items: center;
        color: #DEDEDE;
        display: flex;

    }
    .big-img:hover{
        animation: ease-in 1s forwards;
        transition: 2s;
        box-shadow: -5px 5px 4px rgb(112, 144, 157);
        scale: 105%;
    }
    body{
        background-color: black;
    }
    .main{
        padding: 96px 0px;
        color:#DEDEDE;
    }
    .buttons{
    display: flex;
    gap: 36px;
    font-family: 'outfit';
    color:#DEDEDE;
    }
    .heading{
    font-family: 'source';
    font-weight: 400px;
    font-size: 42px;
    color:#DEDEDE;
    }
    .contact{
    font-family: 'outfit';
    color:#DEDEDE;
        }
    .header{
    width: 1080px;
    height: 80px;
    justify-content: space-between;
    color:#DEDEDE;
    padding: 28px 36px;
    align-items: center;
    margin-left: 10%;
    border-radius: 20px;
    }
    .explore{
    font-family: 'outfit';
    font-weight: 600px;
    font-size: 120px;
    text-align: center;
    justify-content: center;
    letter-spacing: -2%;
    color:#DEDEDE;
    
    }
    .big-img{
    width: 1344px;
    height: 672px;
    border: 1.5px #080808;
    margin: 0 0 0 50px;
    border-radius: 28px;
    color:#DEDEDE;
    padding: 96px 0 96 0px;
 
    }

    .images {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 8px;
    width: 100%;
    row-gap: 50px;
    margin: 25px;
    color:#DEDEDE;
    border-radius: 16px;
    }
    .image:hover{
        transition: 1s;
        box-shadow: -5px 5px 4px beige;
        scale: 103%;
        cursor: pointer;
    }

    .instruction{
    display: grid;
    gap: 32px;
    width: 100%;
    justify-items: center;
    color:#DEDEDE;

    }
    .contactme{
    font-family: 'outfit';
    font-weight: 400px;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    color:#DEDEDE;

    }
    .text{
    font-family: 'outfit';
    font-weight: 400px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    
    }
    .button{
    background-color:#C0C0C0 ;
    padding: 8px 18px;
    border-radius: 16px;
    width: 400px;
    height: 36px;
    color: rgba(255, 255, 255, 1);
    font-family: 'outfit';
    color:black;
    }
    .foot{
    font-family: 'outfit';
    font-size: 28px;
    line-height: 32px;
    color:#DEDEDE;

    }
    .back{
    padding: 12px 28px;
    border-radius: 16px;
    width: 136px;
    height: 48px;
    border: solid 1.5px;
    align-items: end;
    margin-right: 5%;;
    margin-left: auto;
    font-family: 'outfit';
    /* background-attachment: fixed; */
    background-color: black ;
    color:#DEDEDE;
    }
    .inputs{
    display: flex;
    justify-content: center;
    gap: 12px;
    }
    /* .in{
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 8px;
    width: 56px;
    height: 64px;
    color:#DEDEDE;
    } */
    
    #fname{
    width: 56px;
    height:64px ;
    margin: 2px;
    border: 1.5px solid rgba(0, 0, 0, 1);
    border-radius: 20px;
    padding: 8px 1px;
    text-align: center;
    font-size: 20px;
    color:#DEDEDE;
    background-color:#C7C7C733;

    }
    .skip{
    width: 26px;
    height: 20px;
    font-family: 'outfit';
    font-weight: 500px;
    font-size: 15px;
    line-height: 20px;
    color:#DEDEDE;
    }
    footer{
    width: 100%;
    display: flex;
    align-items: center;
    color:#DEDEDE;
    }
    .image-name{
    font-family: 'outfit';
    font-weight: 400px;
    font-size: 20px;
    line-height: 24px;
    color:#DEDEDE;
    }
    .image-desc{
    font-family: 'outfit';
    font-weight: 400px;
    font-size: 17px;
    line-height: 24px;
    color:#DEDEDE;
    }